# sdata.Metadata

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
#%matplotlib notebook
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata

Autosave disabled

05:36:46 DEBUG:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [2]:
m = sdata.Metadata(name="My first metadata")
m

(Metadata'N.N.':1)

In [3]:
help(m)

Help on Metadata in module sdata.metadata object:

class Metadata(builtins.object)
 |  Metadata(**kwargs)
 |
 |  Metadata container class
 |
 |  each Metadata entry has has a
 |      * name (256)
 |      * value
 |      * unit
 |      * description
 |      * type (int, str, float, bool, timestamp)
 |
 |  Methods defined here:
 |
 |  __getitem__(self, name)
 |
 |  __init__(self, **kwargs)
 |      Metadata class
 |
 |      :param kwargs:
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  add(self, name, value=None, **kwargs)
 |      add Attribute
 |
 |      :param name:
 |      :param value:
 |      :param kwargs:
 |      :return:
 |
 |  get(self, name, default=None)
 |
 |  get_attr(self, name)
 |      get Attribute by name
 |
 |  items(self)
 |      :return: list of Attribute items (keys, values)
 |
 |  keys(self)
 |      :return: list of Attribute names
 |
 |  set_attr(self, name='N.N.', value=None, **kwargs)
 |      set Attribute
 |
 |  to_csv(self, filepath=None, sep=',', header=False)
 |      serialize to csv
 |
 |  to_csv_header(self, prefix='#', sep=',', filepath=None)
 |      serialize to csv
 |
 |  to_dataframe(self)
 |      create dataframe
 |
 |  to_dict(self)
 |      serialize attributes to dict
 |
 |  to_json(self, filepath=None)
 |      create a json
 |
 |      :param filepath: default None
 |      :return: json str
 |
 |  to_list(self)
 |      create a nested list of Attribute values
 |
 |      :return: list
 |
 |  update_from_dict(self, d)
 |      set attributes from dict
 |
 |  values(self)
 |      :return: list of Attribute values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_csv(filepath) from builtins.type
 |      create metadata from dataframe
 |
 |  from_dataframe(df) from builtins.type
 |      create metadata from dataframe
 |
 |  from_dict(d) from builtins.type
 |      setup metadata from dict
 |
 |  from_json(jsonstr=None, filepath=None) from builtins.type
 |      create metadata from json file
 |
 |      :param jsonstr: json str
 |      :param filepath: filepath to json file
 |      :return: Metadata
 |
 |  from_list(mlist) from builtins.type
 |      create metadata from a list of Attribute values
 |
 |      [['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 |       ['force_y', 3.1, 'float', 'N', 'force in y-direction']]
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  attributes
 |      returns Attributes
 |
 |  df
 |      create dataframe
 |
 |  name
 |      Name of the Metadata
 |
 |  size
 |      return number uf Attribute
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  ATTRIBUTEKEYS = ['name', 'value', 'dtype', 'unit', 'description', 'lab...

# sdata.Attribute

create a simple key-value-Attribute

In [4]:
a = sdata.Attribute("otto1", 1)
a

(Attr'otto1':1(int))

In [5]:
help(a)

Help on Attribute in module sdata.metadata object:

class Attribute(builtins.object)
 |  Attribute(name, value, **kwargs)
 |
 |  Attribute class
 |
 |  Methods defined here:
 |
 |  __init__(self, name, value, **kwargs)
 |      Attribute
 |      :param name
 |      :param value
 |      :param dtype ['float', 'int', 'str', 'timestamp', 'uuid?', 'unicode?']
 |      :param description
 |      :param dimension e.g. force, length, strain, count, energy
 |      :param unit
 |
 |  __repr__ = __str__(self)
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  to_csv(self, prefix='', sep=',', quote=None)
 |      export Attribute to csv
 |
 |      :param prefix:
 |      :param sep:
 |      :param quote:
 |      :return:
 |
 |  to_dict(self)
 |      :returns dict of attribute items
 |
 |  to_list(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  description
 |      Attribute description
 |
 |  dtype
 |      Attribute type str
 |
 |  label
 |      Attribute label
 |
 |  name
 |      Attribute name
 |
 |  unit
 |      Attribute unit
 |
 |  value
 |      Attribute value
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DTYPES = {'bool': <class 'bool'>, 'float': <class 'float'>, 'int': <cl...

create a full qualified Attribute

In [6]:
fx = sdata.Attribute("force_x", value=1.2, unit="kN", dtype="float", description="force in x-direction")
fx

(Attr'force_x':1.2(float))

add Attribute to metadata

In [7]:
m = sdata.Metadata(name="m1")
m.add(fx)
m.attributes

OrderedDict([('sdata_version', (Attr'sdata_version':0.8.2(str))),
             ('force_x', (Attr'force_x':1.2(float)))])

In [8]:
# m = sdata.Metadata(name="m2")
m.add("force_y", value=3.1, unit="N", dtype="float", description="force in y-direction")
m.attributes

OrderedDict([('sdata_version', (Attr'sdata_version':0.8.2(str))),
             ('force_x', (Attr'force_x':1.2(float))),
             ('force_y', (Attr'force_y':3.1(float)))])

## Working with Attributes

In [9]:
m.get("force_z")

In [10]:
my_fx = m.get("force_x")
my_fx

(Attr'force_x':1.2(float))

In [11]:
my_fy = m.get("force_y")
my_fy

(Attr'force_y':3.1(float))

In [12]:
my_fx.value

1.2

In [13]:
print("The {0.name} is {0.value} {0.unit}.".format(my_fx))
print("The {0.name} is {0.value} {0.unit}.".format(my_fy))

The force_x is 1.2 kN.
The force_y is 3.1 N.

In [14]:
my_fx.to_list()

['force_x', 1.2, 'kN', 'float', 'force in x-direction', '']

In [15]:
my_fx.to_dict()

{'name': 'force_x',
 'value': 1.2,
 'unit': 'kN',
 'dtype': 'float',
 'description': 'force in x-direction',
 'label': ''}

In [16]:
my_fx.to_csv(prefix="#$", sep=";")

'#$force_x;1.2;kN;float;force in x-direction;'

## working with Metadata

In [17]:
m.keys()

['sdata_version', 'force_x', 'force_y']

In [18]:
m.values()

[(Attr'sdata_version':0.8.2(str)),
 (Attr'force_x':1.2(float)),
 (Attr'force_y':3.1(float))]

In [19]:
m.items()

[('sdata_version', (Attr'sdata_version':0.8.2(str))),
 ('force_x', (Attr'force_x':1.2(float))),
 ('force_y', (Attr'force_y':3.1(float)))]

In [20]:
m.to_dict()

{'sdata_version': {'name': 'sdata_version',
  'value': '0.8.2',
  'unit': '-',
  'dtype': 'str',
  'description': '',
  'label': ''},
 'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction',
  'label': ''},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'unit': 'N',
  'dtype': 'float',
  'description': 'force in y-direction',
  'label': ''}}

In [21]:
m.to_dict()

{'sdata_version': {'name': 'sdata_version',
  'value': '0.8.2',
  'unit': '-',
  'dtype': 'str',
  'description': '',
  'label': ''},
 'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction',
  'label': ''},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'unit': 'N',
  'dtype': 'float',
  'description': 'force in y-direction',
  'label': ''}}

In [22]:
m.to_dataframe()

                        name  value  dtype unit           description label
key
sdata_version  sdata_version  0.8.2    str    -
force_x              force_x    1.2  float   kN  force in x-direction
force_y              force_y    3.1  float    N  force in y-direction

### json IO

In [23]:
print(m.to_csv(filepath=None))

sdata_version,0.8.2,str,-,,
force_x,1.2,float,kN,force in x-direction,
force_y,3.1,float,N,force in y-direction,

In [24]:
print(m.to_csv_header(prefix="##", sep="\t"))

##sdata_version	0.8.2	-	str
##force_x	1.2	kN	float	force in x-direction
##force_y	3.1	N	float	force in y-direction

In [25]:
jsonfilepath = "/tmp/m.json"
print(m.to_json(filepath=jsonfilepath))

{"sdata_version": {"name": "sdata_version", "value": "0.8.2", "unit": "-", "dtype": "str", "description": "", "label": ""}, "force_x": {"name": "force_x", "value": 1.2, "unit": "kN", "dtype": "float", "description": "force in x-direction", "label": ""}, "force_y": {"name": "force_y", "value": 3.1, "unit": "N", "dtype": "float", "description": "force in y-direction", "label": ""}}

In [26]:
json_str = """{"force_x": {"name": "force_x", "value": 1.2, "unit": "kN", "dtype": "float", "description": "force in x-direction"}, "force_y": {"name": "force_y", "value": 3.1, "unit": "N", "dtype": "float", "description": "force in y-direction"}}"""
m_json = sdata.Metadata.from_json(json_str)
m_json.df

                        name  value  dtype unit           description label
key
sdata_version  sdata_version  0.8.2    str    -
force_x              force_x    1.2  float   kN  force in x-direction  None
force_y              force_y    3.1  float    N  force in y-direction  None

In [27]:
m_jsonfile = sdata.Metadata.from_json(filepath=jsonfilepath)
m_jsonfile.df

                        name  value  dtype unit           description label
key
sdata_version  sdata_version  0.8.2    str    -
force_x              force_x    1.2  float   kN  force in x-direction
force_y              force_y    3.1  float    N  force in y-direction

### list IO

In [28]:
m.to_list()

[['sdata_version', '0.8.2', 'str', '-', '', ''],
 ['force_x', 1.2, 'float', 'kN', 'force in x-direction', ''],
 ['force_y', 3.1, 'float', 'N', 'force in y-direction', '']]

In [29]:
m2 = sdata.Metadata.from_list([['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 ['force_y', 3.1, 'float', 'N', 'force in y-direction'],[1,2], ["2"]])
m2.df

05:36:47 ERROR:Metadata.from_list skip ['2']

                        name  value  dtype  unit           description label
key
sdata_version  sdata_version  0.8.2    str     -
force_x              force_x    1.2  float    kN  force in x-direction  None
force_y              force_y    3.1  float     N  force in y-direction  None
1                          1      2    int  None                  None  None

In [30]:
m.df.loc["force_x", "value"]

1.2

In [31]:
m.df.loc[:, "value"]

key
sdata_version    0.8.2
force_x            1.2
force_y            3.1
Name: value, dtype: object

In [32]:
c=sdata.Attribute("a_bool", True, dtype="bool", description="a boolean")
c.to_list()

['a_bool', True, '-', 'bool', 'a boolean', '']

In [33]:
m = sdata.Metadata.from_dict({"a":"1", "b":1.1})
m.df

                        name  value  dtype unit description label
key
sdata_version  sdata_version  0.8.2    str    -
a                          a      1    str
b                          b    1.1  float

In [34]:
m.to_dict()

{'sdata_version': {'name': 'sdata_version',
  'value': '0.8.2',
  'unit': '-',
  'dtype': 'str',
  'description': '',
  'label': ''},
 'a': {'name': 'a',
  'value': '1',
  'unit': '',
  'dtype': 'str',
  'description': '',
  'label': ''},
 'b': {'name': 'b',
  'value': 1.1,
  'unit': '',
  'dtype': 'float',
  'description': '',
  'label': ''}}

In [35]:
import datetime
datetime.datetime.now().strftime("%d.%m.%Y")

'07.12.2020'

In [36]:
l = m.to_list()
m.from_list(l)

(Metadata'N.N.':3)

In [37]:
m.to_list()

[['sdata_version', '0.8.2', 'str', '-', '', ''],
 ['a', '1', 'str', '', '', ''],
 ['b', 1.1, 'float', '', '', '']]

In [38]:
m.df.values.tolist()

[['sdata_version', '0.8.2', 'str', '-', '', ''],
 ['a', '1', 'str', '', '', ''],
 ['b', 1.1, 'float', '', '', '']]

In [39]:
pd.DataFrame.from_records(m.df.values.tolist())

               0      1      2  3 4 5
0  sdata_version  0.8.2    str  -
1              a      1    str
2              b    1.1  float

In [40]:
pd.DataFrame.from_records(m.df.values.tolist(), columns=m.df.columns)

            name  value  dtype unit description label
0  sdata_version  0.8.2    str    -
1              a      1    str
2              b    1.1  float

In [41]:
pd.read_clipboard()

Empty DataFrame
Columns: [self._description, =, ""]
Index: []

In [42]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [43]:
for x in [['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 ['force_y', 3.1, 'float', 'N', 'force in y-direction']]:
    print(x)

['force_x', 1.2, 'float', 'kN', 'force in x-direction']
['force_y', 3.1, 'float', 'N', 'force in y-direction']

In [44]:
m.to_dict()

{'sdata_version': {'name': 'sdata_version',
  'value': '0.8.2',
  'unit': '-',
  'dtype': 'str',
  'description': '',
  'label': ''},
 'a': {'name': 'a',
  'value': '1',
  'unit': '',
  'dtype': 'str',
  'description': '',
  'label': ''},
 'b': {'name': 'b',
  'value': 1.1,
  'unit': '',
  'dtype': 'float',
  'description': '',
  'label': ''}}

In [45]:
md = m.from_dict({'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction'},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'description': 'force in y-direction'},
  'force_y': {'name': 'force_z',
  'value': 3.1,
  'description': 'force in y-direction'}})
md.df

                        name  value  dtype  unit           description label
key
sdata_version  sdata_version  0.8.2    str     -
force_x              force_x    1.2  float    kN  force in x-direction  None
force_y              force_y    3.1  float  None  force in y-direction  None

In [46]:
m.from_list([[1,2], [2,3]]).df.values
m.df

                        name  value  dtype unit description label
key
sdata_version  sdata_version  0.8.2    str    -
a                          a      1    str
b                          b    1.1  float

In [47]:
filepath = "/tmp/metadata.csv"
m.add("foo", 123)
m.to_csv(filepath)
m5 = sdata.metadata.Metadata.from_csv(filepath)
print("m5", m5.to_dict())
assert m.get_attr("foo").name==m5.get_attr("foo").name
assert m.get_attr("foo").value==m5.get_attr("foo").value

m5 {'sdata_version': {'name': 'sdata_version', 'value': '0.8.2', 'unit': '-', 'dtype': 'str', 'description': nan, 'label': nan}, 'a': {'name': 'a', 'value': '1', 'unit': nan, 'dtype': 'str', 'description': nan, 'label': nan}, 'b': {'name': 'b', 'value': 1.1, 'unit': nan, 'dtype': 'float', 'description': nan, 'label': nan}, 'foo': {'name': 'foo', 'value': 123, 'unit': '-', 'dtype': 'int', 'description': nan, 'label': nan}}