# sdata.Metadata

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
#%matplotlib notebook
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata

10:35:55 INFO:Note: NumExpr detected 22 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 16.
10:35:55 INFO:NumExpr defaulting to 16 threads.

Autosave disabled

In [2]:
m = sdata.Metadata(name="My first metadata")
m

(Metadata'My first metadata':0)

In [3]:
help(m)

Help on Metadata in module sdata.metadata object:

class Metadata(builtins.object)
 |  Metadata(**kwargs)
 |
 |  Metadata container class
 |
 |  each Metadata entry has has a
 |      * name (256)
 |      * value
 |      * unit
 |      * description
 |      * type (int, str, float, bool, timestamp)
 |
 |  Methods defined here:
 |
 |  __contains__(self, item)
 |
 |  __getitem__(self, name)
 |
 |  __init__(self, **kwargs)
 |      Metadata class
 |
 |      :param kwargs:
 |
 |  __iter__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setitem__(self, name, value)
 |      update value in Attribute or create new Attribute
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  add(self, name, value=None, **kwargs)
 |      add Attribute
 |
 |      :param name:
 |      :param value:
 |      :param kwargs:
 |      :return:
 |
 |  add_attribute(self, attr: sdata.metadata.Attribute, **kwargs: Any) -> None
 |      set Attribute
 |
 |  copy(self)
 |      returns a deep copy
 |
 |  get(self, name, default=None)
 |
 |  get_attr(self, name)
 |      get Attribute by name
 |
 |  get_dft(self, index_name=None)
 |      create transposed dataframe for sdata attributes
 |
 |  get_dict(self)
 |      get user attribute as dict
 |
 |  get_sdict(self)
 |      get sdata attribute as dict
 |
 |  get_udict(self)
 |      get user attribute as dict
 |
 |  guess_value_dtype(self)
 |      try to cast the Attribute values, e.g. str -> float
 |
 |      :return:
 |
 |  is_complete(self)
 |      check all required attributes
 |
 |  items(self)
 |      :return: list of Attribute items (keys, values)
 |
 |  keys(self)
 |      :return: list of Attribute names
 |
 |  pop(self, item)
 |
 |  relabel(self, name, newname)
 |      relabel Attribute
 |
 |      :param name: old attribute name
 |      :param newname: new attribute name
 |      :return: None
 |
 |  set_attr(self, name='N.N.', value=None, **kwargs)
 |      set Attribute
 |
 |  set_unit_from_name(self, add_description=True, fix_name=True)
 |      try to extract unit from attribute name
 |
 |      :return:
 |
 |  to_csv(self, filepath=None, sep=',', header=False)
 |      serialize to csv
 |
 |  to_csv_header(self, prefix='#', sep=',', filepath=None)
 |      serialize to csv
 |
 |  to_dataframe(self)
 |      create dataframe
 |
 |  to_dict(self)
 |      serialize attributes to dict
 |
 |  to_json(self, filepath=None)
 |      create a json
 |
 |      :param filepath: default None
 |      :return: json str
 |
 |  to_list(self)
 |      create a nested list of Attribute values
 |
 |      :return: list
 |
 |  update_from_dict(self, d, guess_dtype=True)
 |      set attributes from dict
 |
 |      :param d: dict
 |      :return:
 |
 |  update_from_usermetadata(self, metadata)
 |      update user metadata from metadata
 |
 |  update_hash(self, hashobject)
 |      A hash represents the object used to calculate a checksum of a
 |      string of information.
 |
 |      .. code-block:: python
 |
 |          hashobject = hashlib.sha3_256()
 |          metadata = Metadata()
 |          metadata.update_hash(hashobject)
 |          hash.hexdigest()
 |
 |      :param hash: hash object
 |      :return: hash_function().hexdigest()
 |
 |  values(self)
 |      :return: list of Attribute values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_csv(filepath)
 |      create metadata from dataframe
 |
 |  from_dataframe(df)
 |      create metadata from dataframe
 |
 |  from_dict(d)
 |      setup metadata from dict
 |
 |  from_json(jsonstr=None, filepath=None)
 |      create metadata from json file
 |
 |      :param jsonstr: json str
 |      :param filepath: filepath to json file
 |      :return: Metadata
 |
 |  from_list(mlist)
 |      create metadata from a list of Attribute values
 |
 |      [['force_x', 1.2, 'kN', 'float', 'force in x-direction'],
 |       ['force_y', 3.1, 'N', 'float', 'force in y-direction', 'label', True]]
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  guess_dtype_from_value(value)
 |      guess dtype from value,
 |      e.g.
 |      '1.23' -> 'float'
 |      'otto1.23' -> 'str'
 |      1 -> 'int'
 |      False -> 'bool'
 |
 |      :param value:
 |      :return: dtype(value), dtype ['int', 'float', 'bool', 'str']
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  df
 |      create dataframe
 |
 |  dft
 |      create transposed dataframe for sdata attributes
 |
 |  required_attributes
 |
 |  sdata_attributes
 |
 |  sdf
 |      create dataframe for sdata attributes
 |
 |  sdft
 |      create transposed dataframe for sdata attributes
 |
 |  sha3_256
 |      Return a new SHA3 hash object with a hashbit length of 32 bytes.
 |
 |      :return: hashlib.sha3_256.hexdigest()
 |
 |  size
 |      return number uf Attribute
 |
 |  udf
 |      create dataframe for user attributes
 |
 |  user_attributes
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  attributes
 |      returns Attributes
 |
 |  name
 |      Name of the Metadata
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  ATTRIBUTEKEYS = ['name', 'value', 'unit', 'dtype', 'description', 'lab...

# sdata.Attribute

create a simple key-value-Attribute

In [4]:
a = sdata.Attribute("otto1", 1)
a

(Attr'otto1':1(int))

In [5]:
help(a)

Help on Attribute in module sdata.metadata object:

class Attribute(builtins.object)
 |  Attribute(name, value, **kwargs)
 |
 |  Attribute class
 |
 |  Methods defined here:
 |
 |  __init__(self, name, value, **kwargs)
 |      Attribute(name, value, dtype=str, unit="-", description="", label="", required=False)
 |      :param name
 |      :param value
 |      :param dtype ['float', 'int', 'str', 'timestamp', 'uuid?', 'unicode?']
 |      :param description
 |      :param dimension e.g. force, length, strain, count, energy
 |      :param unit
 |      :param label
 |      :param required
 |
 |  __repr__ = __str__(self)
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  to_csv(self, prefix='', sep=',', quote=None)
 |      export Attribute to csv
 |
 |      :param prefix:
 |      :param sep:
 |      :param quote:
 |      :return:
 |
 |  to_dict(self)
 |      :returns dict of attribute items
 |
 |  to_list(self)
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  guess_dtype(value)
 |      returns dtype class
 |
 |      :param value:
 |      :return: __class__
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  description
 |      Attribute description
 |
 |  dtype
 |      Attribute type str
 |
 |  label
 |      Attribute label
 |
 |  name
 |      Attribute name
 |
 |  required
 |      Attribute required
 |
 |  unit
 |      Attribute unit
 |
 |  value
 |      Attribute value
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DTYPES = {'bool': <class 'bool'>, 'float': <class 'float'>, 'int': <cl...
 |
 |  DTYPES_INV = {<class 'float'>: 'float', <class 'int'>: 'int', <class '...

create a full qualified Attribute

In [6]:
fx = sdata.Attribute("force_x", value=1.2, unit="kN", dtype="float", description="force in x-direction")
fx

(Attr'force_x':1.2(float))

add Attribute to metadata

In [7]:
fx.dtype

'float'

In [8]:
m = sdata.Metadata(name="m1")
m.add(fx)
m.attributes

SortedDict({'force_x': (Attr'force_x':1.2(float))})

In [9]:
# m = sdata.Metadata(name="m2")
m.add("force_y", value=3.1, unit="N", dtype="float", description="force in y-direction")
m.attributes

SortedDict({'force_x': (Attr'force_x':1.2(float)), 'force_y': (Attr'force_y':3.1(float))})

In [10]:
m.df

            name  value unit  dtype           description label  required
key
force_x  force_x    1.2   kN  float  force in x-direction           False
force_y  force_y    3.1    N  float  force in y-direction           False


## Working with Attributes

In [11]:
m["a"] = 1

In [12]:
m["a"] = 1
m["b"] = 2.1
m["o"] = "c"
m.df

            name  value unit  dtype           description label  required
key
force_x  force_x    1.2   kN  float  force in x-direction           False
force_y  force_y    3.1    N  float  force in y-direction           False

In [13]:
for a in m:
    print(a)

('force_x', (Attr'force_x':1.2(float)))
('force_y', (Attr'force_y':3.1(float)))

In [14]:
[a.value for k, a in m]

[1.2, 3.1]

In [15]:
m["b"].value

In [16]:
m.pop("a")

In [17]:
"a" in m

False

In [18]:
m.get("a")

(Attr'a':None(str))

In [19]:
m["a"] = a
m.df

            name  value unit  dtype           description label  required
key
force_x  force_x    1.2   kN  float  force in x-direction           False
force_y  force_y    3.1    N  float  force in y-direction           False

In [20]:
m["force_y"]

(Attr'force_y':3.1(float))

In [21]:
m["force_x"]

(Attr'force_x':1.2(float))

In [22]:
m.get("force_z") # not available -> None

(Attr'force_z':None(str))

In [23]:
my_fx = m.get("force_x")
my_fx

(Attr'force_x':1.2(float))

In [24]:
my_fy = m.get("force_y")
my_fy

(Attr'force_y':3.1(float))

In [25]:
my_fx.value

1.2

In [26]:
print("The {0.name} is {0.value} {0.unit}.".format(my_fx))
print("The {0.name} is {0.value} {0.unit}.".format(my_fy))

The force_x is 1.2 kN.
The force_y is 3.1 N.

In [27]:
my_fx.to_list()

['force_x', 1.2, 'kN', 'float', 'force in x-direction', '', False]

In [28]:
my_fx.to_dict()

{'name': 'force_x',
 'value': 1.2,
 'unit': 'kN',
 'dtype': 'float',
 'description': 'force in x-direction',
 'label': '',
 'required': False}

In [29]:
my_fx.to_csv(prefix="#$", sep=";")

'#$force_x;1.2;kN;float;force in x-direction;;False'

## working with Metadata

In [30]:
m.keys()

['force_x', 'force_y']

In [31]:
m.values()

[(Attr'force_x':1.2(float)), (Attr'force_y':3.1(float))]

In [32]:
m.items()

[('force_x', (Attr'force_x':1.2(float))),
 ('force_y', (Attr'force_y':3.1(float)))]

In [33]:
m.to_dict()

{'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction',
  'label': '',
  'required': False},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'unit': 'N',
  'dtype': 'float',
  'description': 'force in y-direction',
  'label': '',
  'required': False}}

In [34]:
m.to_dict()

{'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction',
  'label': '',
  'required': False},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'unit': 'N',
  'dtype': 'float',
  'description': 'force in y-direction',
  'label': '',
  'required': False}}

In [35]:
m.to_dataframe()

            name  value unit  dtype           description label  required
key
force_x  force_x    1.2   kN  float  force in x-direction           False
force_y  force_y    3.1    N  float  force in y-direction           False

### json IO

In [36]:
print(m.to_csv(filepath=None))

force_x,1.2,kN,float,force in x-direction,,False
force_y,3.1,N,float,force in y-direction,,False

In [37]:
print(m.to_csv_header(prefix="##", sep="\t"))

##force_x	1.2	kN	float	force in x-direction		False
##force_y	3.1	N	float	force in y-direction		False

In [38]:
jsonfilepath = "/tmp/m.json"
print(m.to_json(filepath=jsonfilepath))

{"force_x": {"name": "force_x", "value": 1.2, "unit": "kN", "dtype": "float", "description": "force in x-direction", "label": "", "required": false}, "force_y": {"name": "force_y", "value": 3.1, "unit": "N", "dtype": "float", "description": "force in y-direction", "label": "", "required": false}}

In [39]:
json_str = """{"force_x": {"name": "force_x", "value": 1.2, "unit": "kN", "dtype": "float", "description": "force in x-direction"}, "force_y": {"name": "force_y", "value": 3.1, "unit": "N", "dtype": "float", "description": "force in y-direction"}}"""
m_json = sdata.Metadata.from_json(json_str)
m_json.df

            name  value unit  dtype           description label  required
key
force_x  force_x    1.2   kN  float  force in x-direction           False
force_y  force_y    3.1    N  float  force in y-direction           False

In [40]:
m_jsonfile = sdata.Metadata.from_json(filepath=jsonfilepath)
m_jsonfile.df

            name  value unit  dtype           description label  required
key
force_x  force_x    1.2   kN  float  force in x-direction           False
force_y  force_y    3.1    N  float  force in y-direction           False

### list IO

In [41]:
m.to_list()

[['force_x', 1.2, 'kN', 'float', 'force in x-direction', '', False],
 ['force_y', 3.1, 'N', 'float', 'force in y-direction', '', False]]

In [42]:
m2 = sdata.Metadata.from_list([['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 ['force_y', 3.1, 'float', 'N', 'force in y-direction'],["a",2], ["2"]])
m2.df

10:35:56 ERROR:Metadata.from_list skip ['2']

            name  value   unit  dtype           description label  required
key
a              a    2.0           int                                 False
force_x  force_x    1.2  float  float  force in x-direction           False
force_y  force_y    3.1  float  float  force in y-direction           False

In [43]:
m.df.loc["force_x", "value"]

np.float64(1.2)

In [44]:
m.df.loc[:, "value"]

key
force_x    1.2
force_y    3.1
Name: value, dtype: float64

In [45]:
c=sdata.Attribute("a_bool", True, dtype="bool", description="a boolean")
c.to_list()

['a_bool', True, '-', 'bool', 'a boolean', '', False]

In [46]:
m = sdata.Metadata.from_dict({"a":"1", "b":1.1})
m.df

    name  value unit  dtype description label  required
key
a      a    1.0    -    int                       False
b      b    1.1    -  float                       False

In [47]:
m.to_dict()

{'a': {'name': 'a',
  'value': 1,
  'unit': '-',
  'dtype': 'int',
  'description': '',
  'label': '',
  'required': False},
 'b': {'name': 'b',
  'value': 1.1,
  'unit': '-',
  'dtype': 'float',
  'description': '',
  'label': '',
  'required': False}}

In [48]:
import datetime
datetime.datetime.now().strftime("%d.%m.%Y")

'16.09.2025'

In [49]:
l = m.to_list()
m.from_list(l)

(Metadata'N.N.':2)

In [50]:
m.to_list()

[['a', 1.0, '-', 'int', '', '', False],
 ['b', 1.1, '-', 'float', '', '', False]]

In [51]:
m.df.values.tolist()

[['a', 1.0, '-', 'int', '', '', False],
 ['b', 1.1, '-', 'float', '', '', False]]

In [52]:
pd.DataFrame.from_records(m.df.values.tolist())

   0    1  2      3 4 5      6
0  a  1.0  -    int      False
1  b  1.1  -  float      False

In [57]:
df = pd.DataFrame.from_records(m.df.values.tolist(), columns=m.df.columns)
df

  name  value unit  dtype description label  required
0    a    1.0    -    int                       False
1    b    1.1    -  float                       False

In [58]:
df.to_clipboard()

In [59]:
pd.read_clipboard()

  name  value unit  dtype  description  label  required
0    a    1.0    -    int          NaN    NaN     False
1    b    1.1    -  float          NaN    NaN     False

In [ ]:
for x in [['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 ['force_y', 3.1, 'float', 'N', 'force in y-direction']]:
    print(x)

In [ ]:
m.to_dict()

In [ ]:
md = m.from_dict({'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction'},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'description': 'force in y-direction'},
  'force_y': {'name': 'force_z',
  'value': 3.1,
  'description': 'force in y-direction'}})
md.df

In [ ]:
m = sdata.Metadata.from_list([["a",2], 
                              ["!sdata_name", "hallo"], 
                              ["Temperature T [degC]", 23, "C", "float"],
                              ["force F [kN]", 1.23, "kN"]
                             ])
m.df

In [ ]:
m.set_unit_from_name()
m.df

In [ ]:
m.attributes

In [ ]:
m.user_attributes

In [ ]:
m.sdata_attributes

In [ ]:
m = sdata.Metadata.from_list([["a",2], 
                              ["!sdata_name", "hallo"], 
                              ["Temperature T [degC]", "23", "str"],
                              ["force F [kN]", "1.23", "str"]
                             ])
m.df

In [ ]:
m.guess_value_dtype()
m.df

In [ ]:
m.to_dict()

In [ ]:
filepath = "/tmp/metadata.csv"
m.add("foo", 123)
m.to_csv(filepath)
m5 = sdata.metadata.Metadata.from_csv(filepath)
print("m5", m5.to_dict())
assert m.get_attr("foo").name==m5.get_attr("foo").name
assert m.get_attr("foo").value==m5.get_attr("foo").value

In [ ]:
m.sha3_256, m5.sha3_256

In [ ]:
m5.df

In [ ]:
m.df

In [ ]:
df = m5.df
df.fillna("", inplace=True)
df.replace("nan", "", inplace=True)
df

In [ ]:
m5.df.description.values[0]