# sdata.table

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata
import uuid

Autosave disabled

01:12:51 DEBUG:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [2]:
my_unique_name = "test0815"
sdata.uuid_from_str(my_unique_name)

UUID('ba73e09a-5cf4-34d7-8489-8b482e4bac19')

In [3]:
df = pd.DataFrame({"a":[1,2,3], "b":[1.2, 3, 2]})
df

   a    b
0  1  1.2
1  2  3.0
2  3  2.0

In [4]:
data = sdata.Data(name=my_unique_name,
                  uuid=sdata.uuid_from_str(my_unique_name),
                 table=df)
data

(Data 'test0815':ba73e09a5cf434d784898b482e4bac19)

In [5]:
data.metadata.df

      name                             value dtype unit description
key
name  name                          test0815   str    -
uuid  uuid  ba73e09a5cf434d784898b482e4bac19   str    -

In [6]:
data.name = "hallo"
data.uuid = uuid.uuid4()
data.metadata.df

      name                             value dtype unit description
key
name  name                             hallo   str    -
uuid  uuid  ec266fa4e2bd4ab6baed76016a973610   str    -

In [7]:
data.table

       a    b
index
0      1  1.2
1      2  3.0
2      3  2.0

In [8]:
data.df.loc[1,"a"] = 0.1
data.df

         a    b
index
0      1.0  1.2
1      0.1  3.0
2      3.0  2.0

In [9]:
df

         a    b
index
0      1.0  1.2
1      0.1  3.0
2      3.0  2.0

In [10]:
filepath_xlsx = "/tmp/data.xlsx"
data.to_xlsx(filepath_xlsx)
data_xlsx = sdata.Data.from_xlsx(filepath_xlsx)
assert data_xlsx.name==data_xlsx.name

In [11]:
data_xlsx.df.loc[1,"a"] = 0.4
data_xlsx.df

         a    b
index
0      1.0  1.2
1      0.4  3.0
2      3.0  2.0

In [12]:
df

         a    b
index
0      1.0  1.2
1      0.1  3.0
2      3.0  2.0

In [13]:
data.metadata.df

      name                             value dtype unit description
key
name  name                             hallo   str    -
uuid  uuid  ec266fa4e2bd4ab6baed76016a973610   str    -