In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata
from sdata.workbook import Workbook
import uuid
import hashlib
modulepath = os.getcwd()
modulepath

Autosave disabled

'/home/ingolf.lepenies/projects/sdata/ipynb'

09:37:54 DEBUG:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [29]:
wb = Workbook(name="workbook",
              description="A excel like workbook",
                      )
print(wb)
assert wb.name == "workbook"

(Data 'workbook':bfc50ef46b23443485e14d3a88f0b42f)

In [11]:
s0 = wb.create_sheet(1)
assert s0 is None

09:38:20 ERROR:Workbook.create_sheet: sheet name has to be a string!

In [12]:
df1 = pd.DataFrame([1,2,3])
s1 = wb.create_sheet("df1")
s1.df = df1
assert s1.name == "df1"
s1.describe()

               0
metadata       8
table_rows     3
table_columns  1
description    0

In [17]:
data2 = sdata.Data(name="data2", df=pd.DataFrame({"a":[1,2,3]}))
wb.add_sheet(data2)
assert data2 in wb
assert "data2" in wb.sheetnames

In [19]:
s3 = wb.add_sheet(1)
assert s3 is None

09:40:47 ERROR:Workbook.add_sheet: need sdata.Data, got <class 'int'>

In [20]:
print(wb.sheetnames)
assert wb.sheetnames==['df1', 'df2', 'data2']

['df1', 'df2', 'data2']

In [21]:
for sheet in wb:
    print(sheet)

(Data 'df1':0f98990592954ac38ee3a0b50caf9ff3)
(Data 'df2':1012e47a64974655807352f720690f6c)
(Data 'data2':5f5143dae95a4b91a3fb3041e089ee5a)

In [22]:
wb.sheets

[(Data 'df1':0f98990592954ac38ee3a0b50caf9ff3),
 (Data 'df2':1012e47a64974655807352f720690f6c),
 (Data 'data2':5f5143dae95a4b91a3fb3041e089ee5a)]

In [24]:
wb.metadata.df

,name,value,dtype,unit,description,label
key,,,,,,
!sdata_class,!sdata_class,Workbook,str,-,sdata class,
!sdata_ctime,!sdata_ctime,2020-12-21T09:37:54.116102+00:00,str,-,creation date,
!sdata_mtime,!sdata_mtime,2020-12-21T09:37:54.116192+00:00,str,-,modification date,
!sdata_name,!sdata_name,workbook,str,-,name of the data object,
!sdata_parent,!sdata_parent,,str,-,uuid of the parent sdata object,
!sdata_project,!sdata_project,,str,-,,
!sdata_uuid,!sdata_uuid,c335f1a62594482db29d3ed262385858,str,-,Universally Unique Identifier,
!sdata_version,!sdata_version,0.15.0,str,-,sdata package version,

In [26]:
wb.df