In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata
import uuid
import time
from sdata.experiments import TestProgram, TestSeries, Test
print("sdata v{}".format(sdata.__version__))

Autosave disabled

03:43:19 DEBUG:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

sdata v0.14.0

## Test Program

In [2]:
tpname = "ALU"
tpuuid = "a0000000ca6238bea16732ce88c1922f"
project = "Testprogram ALU"

In [3]:
tp = TestProgram(name=tpname,
                 uuid=tpuuid,
                 project=project)
tp.metadata.df

03:43:19 DEBUG:sdata: set auto_correct=True

,name,value,dtype,unit,description,label
key,,,,,,
!sdata_class,!sdata_class,TestProgram,str,-,sdata class,
!sdata_ctime,!sdata_ctime,2020-12-18T15:43:19.212687+00:00,str,-,creation date,
!sdata_mtime,!sdata_mtime,2020-12-18T15:43:19.212963+00:00,str,-,modification date,
!sdata_name,!sdata_name,ALU,str,-,name of the data object,
!sdata_parent,!sdata_parent,,str,-,uuid of the parent sdata object,
!sdata_project,!sdata_project,Testprogram ALU,str,-,,
!sdata_uuid,!sdata_uuid,a0000000ca6238bea16732ce88c1922f,str,-,Universally Unique Identifier,
!sdata_version,!sdata_version,0.14.0,str,-,sdata package version,

In [4]:
assert tp.uuid == tpuuid
assert tp.name == tpname
assert tp.uuid_testprogram == tpuuid
assert tp.name_testprogram == tpname

## Test Series

In [13]:
tsname = "Testseries S1"
tsuuid = "b1111111ca6238bea16732ce88c1922f"
testtype = "UT"
ts = tp.gen_testseries(name=tsname, uuid=tsuuid, testtype=testtype)
ts.metadata.df

03:46:20 DEBUG:sdata: set auto_correct=True

,name,value,dtype,unit,description,label
key,,,,,,
!sdata_class,!sdata_class,TestSeries,str,-,sdata class,
!sdata_ctime,!sdata_ctime,2020-12-18T15:46:20.520560+00:00,str,-,creation date,
!sdata_mtime,!sdata_mtime,2020-12-18T15:46:20.521532+00:00,str,-,modification date,
!sdata_name,!sdata_name,Testseries S1,str,-,name of the data object,
!sdata_parent,!sdata_parent,a0000000ca6238bea16732ce88c1922f,str,-,uuid of the parent sdata object,
!sdata_project,!sdata_project,Testprogram ALU,str,-,,
!sdata_testprogram_name,!sdata_testprogram_name,ALU,str,-,name of the testprogram,
!sdata_testprogram_uuid,!sdata_testprogram_uuid,a0000000ca6238bea16732ce88c1922f,str,-,uuid of the testprogram,
!sdata_testtype,!sdata_testtype,UT,str,-,test type,
!sdata_uuid,!sdata_uuid,b1111111ca6238bea16732ce88c1922f,str,-,Universally Unique Identifier,
!sdata_version,!sdata_version,0.14.0,str,-,sdata package version,

In [14]:

assert ts.name == tsname
assert ts.uuid_testprogram == tpuuid
assert ts.name_testprogram == tpname
assert ts.uuid_testseries == tsuuid
assert ts.name_testseries == tsname

## Test

In [15]:
tname1 = "Test S1-001"
tuuid = "c2222222222238bea16732ce88c19221"
t = ts.gen_test(name=tname1,
                uuid=tuuid)

03:46:23 DEBUG:sdata: set auto_correct=True

In [16]:
print(t)
assert t.name == tname1
assert t.uuid_testprogram == tpuuid
assert t.name_testprogram == tpname
assert t.uuid_testseries == tsuuid
assert t.name_testseries == tsname
assert t.testtype == testtype

(Data 'Test S1-001':c2222222222238bea16732ce88c19221)

In [17]:
t.uuid_testseries, tsuuid, t.uuid_testseries == tsuuid

('b1111111ca6238bea16732ce88c1922f', 'b1111111ca6238bea16732ce88c1922f', True)

In [18]:
t.metadata.df

,name,value,dtype,unit,description,label
key,,,,,,
!sdata_class,!sdata_class,Test,str,-,sdata class,
!sdata_ctime,!sdata_ctime,2020-12-18T15:46:23.984194+00:00,str,-,creation date,
!sdata_mtime,!sdata_mtime,2020-12-18T15:46:23.984476+00:00,str,-,modification date,
!sdata_name,!sdata_name,Test S1-001,str,-,name of the data object,
!sdata_parent,!sdata_parent,b1111111ca6238bea16732ce88c1922f,str,-,uuid of the parent sdata object,
!sdata_project,!sdata_project,Testprogram ALU,str,-,,
!sdata_testprogram_name,!sdata_testprogram_name,ALU,str,-,name of the testprogram,
!sdata_testprogram_uuid,!sdata_testprogram_uuid,a0000000ca6238bea16732ce88c1922f,str,-,uuid of the testprogram,
!sdata_testseries_name,!sdata_testseries_name,Testseries S1,str,-,,
!sdata_testseries_uuid,!sdata_testseries_uuid,b1111111ca6238bea16732ce88c1922f,str,-,,
!sdata_testtype,!sdata_testtype,UT,str,-,test type,
!sdata_uuid,!sdata_uuid,c2222222222238bea16732ce88c19221,str,-,Universally Unique Identifier,
!sdata_version,!sdata_version,0.14.0,str,-,sdata package version,

In [19]:
t.metadata.keys()

['!sdata_class',
 '!sdata_ctime',
 '!sdata_mtime',
 '!sdata_name',
 '!sdata_parent',
 '!sdata_project',
 '!sdata_testprogram_name',
 '!sdata_testprogram_uuid',
 '!sdata_testseries_name',
 '!sdata_testseries_uuid',
 '!sdata_testtype',
 '!sdata_uuid',
 '!sdata_version']