In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata
import uuid
import time
from sdata.iolib.hdf import FlatHDFDataStore
print("sdata v{}".format(sdata.__version__))

Autosave disabled

09:20:25 DEBUG:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

sdata v0.13.0

In [2]:
store = FlatHDFDataStore("/tmp/flatstore.h5", mode="w")
store

09:20:25 INFO:NumExpr defaulting to 8 threads.

In [3]:
store.keys()

[]

In [11]:
data = sdata.Data(name="otto", 
                  uuid=sdata.uuid_from_str("otto"), 
                  table=pd.DataFrame({"a":[1,2,3]}),
                  description="Hallo\nSpencer")
data

09:21:14 DEBUG:sdata: set auto_correct=True

(Data 'otto':21b83703d98e38a7be2e50e38326d0ce)

In [12]:
store.put(data)
store.keys()

['b8315be85d9945579cf8dc6a80a62524', '21b83703d98e38a7be2e50e38326d0ce']

In [13]:
store.hdf.get('/21b83703d98e38a7be2e50e38326d0ce/metadata')

,name,value,dtype,unit,description,label
key,,,,,,
!sdata_class,!sdata_class,Data,str,-,sdata class,
!sdata_ctime,!sdata_ctime,2020-12-17T09:21:14.238597+00:00,str,-,creation date,
!sdata_mtime,!sdata_mtime,2020-12-17T09:21:14.238681+00:00,str,-,modification date,
!sdata_name,!sdata_name,otto,str,-,name of the data object,
!sdata_parent,!sdata_parent,,str,-,uuid of the parent sdata object,
!sdata_uuid,!sdata_uuid,21b83703d98e38a7be2e50e38326d0ce,str,-,Universally Unique Identifier,
!sdata_version,!sdata_version,0.13.0,str,-,sdata package version,

In [14]:
store.keys()

['b8315be85d9945579cf8dc6a80a62524', '21b83703d98e38a7be2e50e38326d0ce']

In [15]:
datac = data.copy()
datac.name = "otto2"
datac.uuid = 'b8315be85d9945579cf8dc6a80a62524'
datac.df["b"] = datac.df["a"]**2
datac.df
datac.metadata.add("force", 1.23, dtype="float", description="a force", label="F")
datac.metadata.add("runid", 123, dtype="int", description="a int", label="r")
datac

(Data 'otto2':b8315be85d9945579cf8dc6a80a62524)

In [16]:
store.put(datac)
store.keys()

/home/ingolf.lepenies/anaconda3/envs/sfem3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_values] [items->Index(['name', 'value', 'dtype', 'unit', 'description', 'label'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)

['b8315be85d9945579cf8dc6a80a62524', '21b83703d98e38a7be2e50e38326d0ce']

In [22]:
data2 = store.get_data_by_uuid('b8315be85d9945579cf8dc6a80a62524')
print(data2)
data2.metadata.df
print([data2.description])
(data2.describe())

09:22:36 DEBUG:sdata: set auto_correct=True

(Data 'otto2':b8315be85d9945579cf8dc6a80a62524)
['Hallo\nSpencer']

                0
metadata        9
table_rows      3
table_columns   2
description    13

In [ ]:
store.keys()

In [ ]:
store.hdf.keys()

In [ ]:
store.get_dict()

In [ ]:
store.get_all_metadata()

In [ ]:
datata.df

In [ ]:
data2.df

In [ ]:
data.metadata.attributes

In [ ]:
#store.close()

In [ ]:
store.hdf.groups()

In [ ]:
store.hdf.info()

In [ ]:
store.hdf.put("/a/b/b", data.df)

In [ ]:
store.hdf.put("/a/b/c/d", data.df)

In [ ]:
store.close()

In [ ]:
data.describe()