In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata
from sdata.blob import Blob
import uuid
import hashlib
modulepath = os.getcwd()
modulepath

Autosave disabled

'/home/ingolf.lepenies/projects/sdata/ipynb'

01:46:20 DEBUG:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [18]:
df = pd.DataFrame([1,2,3])
url = "/tmp/blob.csv"
csv_name = "my csv as blob"
df.to_csv(url)
blob = sdata.blob.Blob(name=csv_name,
            url=url,
            uuid=sdata.uuid_from_str(csv_name),
            description="A csv file",
                      )
print(blob.describe())

                0
metadata       10
table_rows      0
table_columns   0
description    10

In [19]:
print(blob)
blob.metadata.df

(Data 'my csv as blob':2d7a0c9477cb3ac690e24a0e243d4d07)

,name,value,dtype,unit,description,label
key,,,,,,
sdata_version,sdata_version,0.9.0,str,-,,
name,name,my csv as blob,str,-,,
uuid,uuid,2d7a0c9477cb3ac690e24a0e243d4d07,str,-,,
blob_name,blob_name,my csv as blob,str,-,,
blob_type,blob_type,unknown,str,-,,
blob_url,blob_url,/tmp/blob.csv,str,-,,
blob_sha1,blob_sha1,3c05c8b1931e6d83de568ef3cf913bed102fc05f,str,-,,
blob_md5,blob_md5,51c4b70a051bc768456fbc41b476cc29,str,-,,
vault,vault,None,str,-,,
blob_filetype,blob_filetype,unknown,str,-,,

In [14]:
blob.url

'/tmp/blob.csv'

In [5]:
blob.exists(vault="filesystem")

True

In [6]:
help(os.path.exists)

Help on function exists in module genericpath:

exists(path)
    Test whether a path exists.  Returns False for broken symbolic links

In [7]:
blob.to_json()

'{"metadata": {"sdata_version": {"name": "sdata_version", "value": "0.9.0", "unit": "-", "dtype": "str", "description": "", "label": ""}, "name": {"name": "name", "value": "my name", "unit": "-", "dtype": "str", "description": "", "label": ""}, "uuid": {"name": "uuid", "value": "38b26863e7794f5182d38459bab85842", "unit": "-", "dtype": "str", "description": "", "label": ""}, "blob_name": {"name": "blob_name", "value": "bla", "unit": "-", "dtype": "str", "description": "", "label": ""}, "blob_type": {"name": "blob_type", "value": "unknown", "unit": "-", "dtype": "str", "description": "", "label": ""}, "blob_url": {"name": "blob_url", "value": "/tmp/blob.csv", "unit": "-", "dtype": "str", "description": "", "label": ""}, "blob_sha1": {"name": "blob_sha1", "value": null, "unit": "-", "dtype": "str", "description": "", "label": ""}, "blob_md5": {"name": "blob_md5", "value": "51c4b70a051bc768456fbc41b476cc29", "unit": "-", "dtype": "str", "description": "", "label": ""}, "vault": {"name": "vault", "value": null, "unit": "-", "dtype": "str", "description": "", "label": ""}, "blob_filetype": {"name": "blob_filetype", "value": "unknown", "unit": "-", "dtype": "str", "description": "", "label": ""}, "blob_uuid": {"name": "blob_uuid", "value": null, "unit": "-", "dtype": "str", "description": "", "label": ""}, "blob_format": {"name": "blob_format", "value": null, "unit": "-", "dtype": "str", "description": "", "label": ""}}, "table": {}, "description": "A remarkable description"}'

In [8]:
hash = hashlib.md5()
df = pd.DataFrame([1,2,3])
url = "/tmp/blob.csv"
df.to_csv(url)
blob = sdata.Blob(url=url)
fh = open(url, "rb")
blob.update_hash(fh, hash)
hash.hexdigest()

'51c4b70a051bc768456fbc41b476cc29'

In [9]:
blob.sha1

'3c05c8b1931e6d83de568ef3cf913bed102fc05f'

In [10]:
blob.md5

'51c4b70a051bc768456fbc41b476cc29'

$ shasum /tmp/blob.csv 

    3c05c8b1931e6d83de568ef3cf913bed102fc05f  /tmp/blob.csv

$ md5sum /tmp/blob.csv 

    51c4b70a051bc768456fbc41b476cc29  /tmp/blob.csv

In [11]:
blob.url

'/tmp/blob.csv'