# sdata.Metadata

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
#%matplotlib notebook
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata

Autosave disabled

11:51:16 DEBUG:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [2]:
m = sdata.Metadata(name="My first metadata")
m

(Metadata'N.N.':0)

In [3]:
help(m)

Help on Metadata in module sdata.metadata object:

class Metadata(builtins.object)
 |  Metadata(**kwargs)
 |
 |  Metadata container class
 |
 |  each Metadata entry has has a
 |      * name (256)
 |      * value
 |      * unit
 |      * description
 |      * type (int, str, float, bool, timestamp)
 |
 |  Methods defined here:
 |
 |  __getitem__(self, name)
 |
 |  __init__(self, **kwargs)
 |      Metadata class
 |
 |      :param kwargs:
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  add(self, name, value=None, **kwargs)
 |      add Attribute
 |
 |      :param name:
 |      :param value:
 |      :param kwargs:
 |      :return:
 |
 |  get(self, name, default=None)
 |
 |  get_attr(self, name)
 |      get Attribute by name
 |
 |  items(self)
 |      :return: list of Attribute items (keys, values)
 |
 |  keys(self)
 |      :return: list of Attribute names
 |
 |  set_attr(self, name='N.N.', value=None, **kwargs)
 |      set Attribute
 |
 |  to_csv(self, filepath=None, sep=',')
 |      serialize to csv
 |
 |  to_csv_header(self, prefix='#', sep=',', filepath=None)
 |      serialize to csv
 |
 |  to_dataframe(self)
 |      create dataframe
 |
 |  to_dict(self)
 |      serialize attributes to dict
 |
 |  to_json(self, filepath=None)
 |      create a json
 |
 |      :param filepath: default None
 |      :return: json str
 |
 |  to_list(self)
 |      create a nested list of Attribute values
 |
 |      :return: list
 |
 |  update_from_dict(self, d)
 |      set attributes from dict
 |
 |  values(self)
 |      :return: list of Attribute values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_csv(filepath) from builtins.type
 |      create metadata from dataframe
 |
 |  from_dataframe(df) from builtins.type
 |      create metadata from dataframe
 |
 |  from_dict(d) from builtins.type
 |      setup metadata from dict
 |
 |  from_json(filepath) from builtins.type
 |      create metadata from json file
 |
 |  from_list(mlist) from builtins.type
 |      create metadata from a list of Attribute values
 |
 |      [['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 |       ['force_y', 3.1, 'float', 'N', 'force in y-direction']]
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  attributes
 |      returns Attributes
 |
 |  df
 |      create dataframe
 |
 |  name
 |      Name of the Metadata
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  ATTRIBUTEKEYS = ['name', 'value', 'dtype', 'unit', 'description']

# sdata.Attribute

create a simple key-value-Attribute

In [4]:
a = sdata.Attribute("otto1", 1)
a

(Attr'otto1':1(int))

In [5]:
help(a)

Help on Attribute in module sdata.metadata object:

class Attribute(builtins.object)
 |  Attribute(name, value, **kwargs)
 |
 |  Attribute class
 |
 |  Methods defined here:
 |
 |  __init__(self, name, value, **kwargs)
 |      Attribute
 |      :param name
 |      :param value
 |      :param dtype ['float', 'int', 'str', 'timestamp', 'uuid?', 'unicode?']
 |      :param description
 |      :param dimension e.g. force, length, strain, count, energy
 |      :param unit
 |
 |  __repr__ = __str__(self)
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  to_csv(self, prefix='', sep=',', quote=None)
 |      export Attribute to csv
 |
 |      :param prefix:
 |      :param sep:
 |      :param quote:
 |      :return:
 |
 |  to_dict(self)
 |      :returns dict of attribute items
 |
 |  to_list(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  description
 |      Attribute description
 |
 |  dtype
 |      Attribute type str
 |
 |  name
 |      Attribute name
 |
 |  unit
 |      Attribute unit
 |
 |  value
 |      Attribute value
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DTYPES = {'bool': <class 'bool'>, 'float': <class 'float'>, 'int': <cl...

create a full qualified Attribute

In [6]:
fx = sdata.Attribute("force_x", value=1.2, unit="kN", dtype="float", description="force in x-direction")
fx

(Attr'force_x':1.2(float))

add Attribute to metadata

In [7]:
m = sdata.Metadata(name="m1")
m.add(fx)
m.attributes

OrderedDict([('force_x', (Attr'force_x':1.2(float)))])

In [8]:
# m = sdata.Metadata(name="m2")
m.add("force_y", value=3.1, unit="N", dtype="float", description="force in y-direction")
m.attributes

OrderedDict([('force_x', (Attr'force_x':1.2(float))),
             ('force_y', (Attr'force_y':3.1(float)))])

## Working with Attributes

In [9]:
m.get("force_z")

In [10]:
my_fx = m.get("force_x")
my_fx

(Attr'force_x':1.2(float))

In [11]:
my_fy = m.get("force_y")
my_fy

(Attr'force_y':3.1(float))

In [12]:
my_fx.value

1.2

In [13]:
print("The {0.name} is {0.value} {0.unit}.".format(my_fx))
print("The {0.name} is {0.value} {0.unit}.".format(my_fy))

The force_x is 1.2 kN.
The force_y is 3.1 N.

In [14]:
my_fx.to_list()

['force_x', 1.2, 'kN', 'float', 'force in x-direction']

In [15]:
my_fx.to_dict()

{'name': 'force_x',
 'value': 1.2,
 'unit': 'kN',
 'dtype': 'float',
 'description': 'force in x-direction'}

In [16]:
my_fx.to_csv(prefix="#$", sep=";")

'#$force_x;1.2;kN;float;force in x-direction'

## working with Metadata

In [17]:
m.keys()

['force_x', 'force_y']

In [18]:
m.values()

[(Attr'force_x':1.2(float)), (Attr'force_y':3.1(float))]

In [19]:
m.items()

[('force_x', (Attr'force_x':1.2(float))),
 ('force_y', (Attr'force_y':3.1(float)))]

In [20]:
m.to_dict()

{'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction'},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'unit': 'N',
  'dtype': 'float',
  'description': 'force in y-direction'}}

In [21]:
m.to_dataframe()

            name  value  dtype unit           description
key
force_x  force_x    1.2  float   kN  force in x-direction
force_y  force_y    3.1  float    N  force in y-direction

### json IO

In [22]:
print(m.to_csv(filepath=None))

name,value,dtype,unit,description
force_x,1.2,float,kN,force in x-direction
force_y,3.1,float,N,force in y-direction

In [23]:
print(m.to_csv_header(prefix="##", sep="\t"))

##force_x	1.2	kN	float	force in x-direction
##force_y	3.1	N	float	force in y-direction

In [73]:
jsonfilepath = "/tmp/m.json"
print(m.to_json(filepath=jsonfilepath))

{"force_x": {"name": "force_x", "value": 1.2, "unit": "kN", "dtype": "float", "description": "force in x-direction"}, "force_y": {"name": "force_y", "value": 3.1, "unit": "N", "dtype": "float", "description": "force in y-direction"}}

In [74]:
json_str = """{"force_x": {"name": "force_x", "value": 1.2, "unit": "kN", "dtype": "float", "description": "force in x-direction"}, "force_y": {"name": "force_y", "value": 3.1, "unit": "N", "dtype": "float", "description": "force in y-direction"}}"""
m_json = sdata.Metadata.from_json(json_str)
m_json.df

            name  value  dtype unit           description
key
force_x  force_x    1.2  float   kN  force in x-direction
force_y  force_y    3.1  float    N  force in y-direction

In [77]:
m_jsonfile = sdata.Metadata.from_json(filepath=jsonfilepath)
m_jsonfile.df

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

### list IO

In [65]:
m.to_list()

[['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 ['force_y', 3.1, 'float', 'N', 'force in y-direction']]

In [67]:
m2 = sdata.Metadata.from_list([['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 ['force_y', 3.1, 'float', 'N', 'force in y-direction'],[1,2], ["2"]])
m2.df

12:06:06 ERROR:Metadata.from_list skip ['2']

            name  value  dtype  unit           description
key
force_x  force_x    1.2  float    kN  force in x-direction
force_y  force_y    3.1  float     N  force in y-direction
1              1    2.0    int  None                  None

In [25]:
m.df.loc["force_x", "value"]

1.2

In [26]:
m.df.loc[:, "value"]

key
force_x    1.2
force_y    3.1
Name: value, dtype: float64

In [27]:
c=sdata.Attribute("a_bool", True, dtype="bool", description="a boolean")
c.to_list()

['a_bool', True, '-', 'bool', 'a boolean']

In [28]:
sdata.Metadata.from_dict({"a":"1", "b":1.1})

TypeError: set_attr() argument after ** must be a mapping, not str

In [ ]:
m.to_dict()

In [ ]:
import datetime
datetime.datetime.now().strftime("%d.%m.%Y")

In [ ]:
m.from_list()

In [ ]:
m.to_list()

In [ ]:
m.df.values.tolist()

In [ ]:
pd.DataFrame.from_records(m.df.values.tolist())

In [ ]:
pd.DataFrame.from_records(m.df.values.tolist(), columns=m.df.columns)

In [ ]:
pd.read_clipboard()

In [ ]:
sdata.Attribute.DTYPES

In [41]:
for x in [['force_x', 1.2, 'float', 'kN', 'force in x-direction'],
 ['force_y', 3.1, 'float', 'N', 'force in y-direction']]:
    print(x)

['force_x', 1.2, 'float', 'kN', 'force in x-direction']
['force_y', 3.1, 'float', 'N', 'force in y-direction']

In [47]:
m.to_dict()

{'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction'},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'unit': 'N',
  'dtype': 'float',
  'description': 'force in y-direction'}}

In [56]:
md = m.from_dict({'force_x': {'name': 'force_x',
  'value': 1.2,
  'unit': 'kN',
  'dtype': 'float',
  'description': 'force in x-direction'},
 'force_y': {'name': 'force_y',
  'value': 3.1,
  'description': 'force in y-direction'},
  'force_y': {'name': 'force_z',
  'value': 3.1,
  'description': 'force in y-direction'}})
md.df

{'name': 'force_x', 'value': 1.2, 'unit': 'kN', 'dtype': 'float', 'description': 'force in x-direction'}
{'name': 'force_z', 'value': 3.1, 'description': 'force in y-direction'}

            name  value  dtype unit           description
key
force_x  force_x    1.2  float   kN  force in x-direction
force_z  force_z    3.1  float    -  force in y-direction

In [62]:
m.from_list([[1,2], [2,3]]).df.values

[[1, 2], [2, 3]]
! [1, 2, None, None, None]
! [2, 3, None, None, None]

array([['1', 2, 'int', None, None],
       ['2', 3, 'int', None, None]], dtype=object)