# sdata usage - dump and load a pandas dataframe

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%autosave 0
    
import logging
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.WARNING, datefmt='%I:%M:%S')

import os
import sys
import numpy as np
import pandas as pd
import sdata
import uuid
print("sdata v{}".format(sdata.__version__))

Autosave disabled
sdata v0.17.0

## create a dataframe

In [2]:
df = pd.DataFrame({"a":[1.,2.,3.], "b":[4.,6.,1.]})
df

     a    b
0  1.0  4.0
1  2.0  6.0
2  3.0  1.0

## create a Data object

In [3]:
data = sdata.Data(name="df", 
                  uuid=sdata.uuid_from_str("df"), 
                  table=df,
                  description="a pandas dataframe",)
data

(Data 'df':b2c449deaa9b36d4b5482642ba1e161a)

## dump the data

### Excel IO

In [4]:
data.to_xlsx(filepath="/tmp/data1.xlsx")
data_xlsx = sdata.Data.from_xlsx(filepath="/tmp/data1.xlsx")
assert data.name==data_xlsx.name
assert data.uuid==data_xlsx.uuid
assert data.description==data_xlsx.description
print(data_xlsx)
data_xlsx.df

(Data 'df':b2c449deaa9b36d4b5482642ba1e161a)

       a  b
index
0      1  4
1      2  6
2      3  1

### Hdf5 IO

In [5]:
data.to_hdf5(filepath="/tmp/data1.hdf")
data_hdf5 = sdata.Data.from_hdf5(filepath="/tmp/data1.hdf")
assert data.name==data_xlsx.name
assert data.uuid==data_xlsx.uuid
assert data.description==data_hdf5.description
print(data_hdf5)
data_hdf5.df

(Data 'df':b2c449deaa9b36d4b5482642ba1e161a)

         a    b
index
0      1.0  4.0
1      2.0  6.0
2      3.0  1.0

### Json IO

In [6]:
data.to_json(filepath="/tmp/data1.json")
data_json = sdata.Data.from_json(filepath="/tmp/data1.json")
assert data.name==data_json.name
assert data.uuid==data_json.uuid
assert data.description==data_json.description
print(data_json)
data_json.df

(Data 'df':b2c449deaa9b36d4b5482642ba1e161a)

         a    b
index
0      1.0  4.0
1      2.0  6.0
2      3.0  1.0

In [7]:
cat /tmp/data1.json

{"metadata": {"!sdata_class": {"name": "!sdata_class", "value": "Data", "unit": "-", "dtype": "str", "description": "sdata class", "label": "", "required": false}, "!sdata_ctime": {"name": "!sdata_ctime", "value": "2021-01-17T22:24:11.904157+00:00", "unit": "-", "dtype": "str", "description": "creation date", "label": "", "required": false}, "!sdata_mtime": {"name": "!sdata_mtime", "value": "2021-01-17T22:24:11.904430+00:00", "unit": "-", "dtype": "str", "description": "modification date", "label": "", "required": false}, "!sdata_name": {"name": "!sdata_name", "value": "df", "unit": "-", "dtype": "str", "description": "name of the data object", "label": "", "required": false}, "!sdata_parent": {"name": "!sdata_parent", "value": "", "unit": "-", "dtype": "str", "description": "uuid of the parent sdata object", "label": "", "required": false}, "!sdata_project": {"name": "!sdata_project", "value": "", "unit": "-", "dtype": "str", "description": "", "label": "", "required": false}, "!sdata_uuid": {"name": "!sdata_uuid", "value": "b2c449deaa9b36d4b5482642ba1e161a", "unit": "-", "dtype": "str", "description": "Universally Unique Identifier", "label": "", "required": false}, "!sdata_version": {"name": "!sdata_version", "value": "0.17.0", "unit": "-", "dtype": "str", "description": "sdata package version", "label": "", "required": false}}, "table": {"a": {"0": 1.0, "1": 2.0, "2": 3.0}, "b": {"0": 4.0, "1": 6.0, "2": 1.0}}, "description": "a pandas dataframe"}

### csv IO

In [8]:
data.to_csv(filepath="/tmp/data1.csv")
data_csv = sdata.Data.from_csv(filepath="/tmp/data1.csv")
assert data.name==data_csv.name
assert data.uuid==data_csv.uuid
# assert data.description==data_csv.description
assert data.df.shape == data_csv.df.shape
print(data_csv)
data_csv.df

(Data 'df':b2c449deaa9b36d4b5482642ba1e161a)

         a    b
index
0      1.0  4.0
1      2.0  6.0
2      3.0  1.0

In [9]:
cat /tmp/data1.csv

#;!sdata_class;Data;-;str;sdata class;;False
#;!sdata_ctime;2021-01-17T22:24:11.904157+00:00;-;str;creation date;;False
#;!sdata_mtime;2021-01-17T22:24:11.904430+00:00;-;str;modification date;;False
#;!sdata_name;df;-;str;name of the data object;;False
#;!sdata_parent;;-;str;uuid of the parent sdata object;;False
#;!sdata_project;;-;str;;;False
#;!sdata_uuid;b2c449deaa9b36d4b5482642ba1e161a;-;str;Universally Unique Identifier;;False
#;!sdata_version;0.17.0;-;str;sdata package version;;False
index;a;b
0;1.0;4.0
1;2.0;6.0
2;3.0;1.0

### html export

In [10]:
data.to_html(filepath="/tmp/data1.html")

In [11]:
import webbrowser
webbrowser.open("/tmp/data1.html")

True